﻿@using Estadistica.Models
@model ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h4>Use otro servicio para iniciar sesión.</h4>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0)
    {
        <div>
            <p>No dispone de servicios de autenticación externos configurados. Vea <a href="http://go.microsoft.com/fwlink/?LinkId=313242">este artículo</a>
            para obtener detalles sobre cómo configurar esta aplicación de ASP.NET para que admita el inicio de sesión mediante servicios externos.</p>
        </div>
    }
    else
    {
        using (Html.BeginForm(Model.Action, "Account", new { ReturnUrl = Model.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                @foreach (AuthenticationDescription p in loginProviders)
                {
                    <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Inicie sesión con su cuenta @p.Caption">@p.AuthenticationType</button>
                }
                </p>
            </div>
        }
    }
}
